<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<footer>
    <div class="paa">
        <div class="foot-content">
        <h1>Disclaimer</h1>
        <p>
            The images featured on this website are either the property of the website owners or resources online. Any unauthorized use, reproduction, or distribution of these images is strictly prohibited and may constitute copyright infringement. If you believe that your copyright has been infringed upon, please contact us promptly for resolution.<br>
        </p>
        </div>
        <div class="foot-content">
            <h1>Resource Library</h1>
            <ul class="list">
                <li><a href="https://sustainablelivingguide.org/" target="_blank">Sustainable Living Guide</a></li>
                <li><a href="https://www.iea.org/reports/renewables-2024" target="_blank">Renewable Energy Reports</a></li>
                <li><a href="https://www.nsf.gov/science-matters/10-nsf-funded-studies-show-challenges-complexities" target="_blank">Climate Change Research</a></li>
                <li><a href="https://energytheory.com/eco-friendly-inventions-for-the-future/" target="_blank">Eco-Friendly Product Innovations</a></li>
            </ul>
        </div>
        <div class="foot-content">
            <h1>Accessibility Statement</h1>
            <p>
                At Greenovation, we are committed to ensuring that our website is accessible to everyone. We strive to provide a seamless experience for all users by adhering to best practices in web accessibility and continually improving our platform to meet evolving standards.
            </p>
            </div>
    </div>
    <div class="bottom-bar">
    <p>©2025 Greenovation. All rights reserved</p>
    </div>
</footer>